
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Student Information</title>
</head>
<body>
<div style="padding-left: 400px; padding-top: 100px;">
    <form method="POST" style="border: 3px solid black;width: 400px; background-color: #f2f2f2; height: 350px; position: absolute; text-align: center;">
        <h2 style="text-align: center;">Student Information</h2>

  {% csrf_token %}
  <input type="hidden" name="student_id" value="{{ student.id }}">
  
  <label for="studentName">Student Name:</label>
  <input type="text" id="studentName" name="studentName" value="{{ student.student_name }}" required><br><br>
  
  <label for="dob">Date of Birth:</label>
  <input type="date" id="dob" name="dob" value="{{ student.dob }}" required><br><br>
  
  <label for="subject">Subject:</label>
  <select id="subject" name="subject" required>
    <option value="">Select Subject</option>
    <option value="Maths" {% if student.subject == 'Maths' %} selected {% endif %}>Maths</option>
    <option value="Science" {% if student.subject == 'Science' %} selected {% endif %}>Science</option>
    <option value="History" {% if student.subject == 'History' %} selected {% endif %}>History</option>
    <option value="Malayalam" {% if student.subject == 'Malayalam' %} selected {% endif %}>Malayalam</option>
    <option value="English" {% if student.subject == 'English' %} selected {% endif %}>English</option>
    <option value="Hindi" {% if student.subject == 'Hindi' %} selected {% endif %}>Hindi</option>
  </select><br><br>
  
  <label for="mark">Mark:</label>
  <input type="number" id="mark" name="mark" value="{{ student.mark }}" required><br><br>
  
  <label for="outOf">Out of:</label>
  <input type="number" id="outOf" name="outOf" value="{{ student.out_of }}" required><br><br><br>
  
  <button type="submit">Submit</button>&nbsp;
  <button type="button"><a href="home">Back</a></button>
</form>
</div>
</body>
</html>
